@import url('https://fonts.cdnfonts.com/css/nobility-casual');
@import url('https://fonts.cdnfonts.com/css/enchanted-land');

.postBattleOverlay {
    display: flex;
    justify-content: center;
    background-color: #070c12;
    
}

.postBattleModal {
    padding: 50px;
    width: 800px;
    color: #efe3c7;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 100px;
    margin-bottom: -10px;
    letter-spacing: 6px;
}

h3 {
    font-size: 40px;
    margin-bottom: -1px;
    letter-spacing: 3px;
}

h1, h3{
    font-family: 'Enchanted Land', sans-serif;
}

p {
    font-family: 'Nobility Casual', sans-serif;
    font-size: 20px;
    margin-bottom: -20px;
}

ul {
    font-family: 'Nobility Casual', sans-serif;
    font-size: 20px;
    
}

.continueButton {
    font-family: 'Nobility Casual', sans-serif;
    margin-top: 45px;
    width: 100px;
    height: auto;
    background-color:#506179 ;
}

.baggedGoods {
    font-family: 'Nobility Casual', sans-serif;
    color: #efe3c791;
    font-size: 15px;

}