.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #4a7ba7;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
  border: 2px solid #f5d589;
}